// font-face Proxima Nova
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.woff2') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Extrabold.eot');
  src: url('../fonts/ProximaNova-Extrabold.woff') format('woff'),
  url('../fonts/ProximaNova-Extrabold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// font-face Museo Sans
@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/Museo-SansCyrl.eot');
  src: url('../fonts/Museo-SansCyrl.woff') format('woff'),
  url('../fonts/Museo-SansCyrl.woff2') format('woff2'),
  url('../fonts/Museo-SansCyrl.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
