@import "variables";
@import "fonts";
//libs
@import "lib/swiper/swiper-bundle.min.css";
@import "lib/bootstrap/scss/bootstrap";
@import "components/nav.scss";

//background cover
.bg-size-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

//background contain
.bg-size-contain {
  background-repeat: no-repeat;
  background-size: contain;
}

//background no-repeat
.bg-no-repeat {
  background-repeat: no-repeat;
}

//background right
.bg-position-right {
  background-position: right;
}

//font weight 600
.fw-600 {
  font-weight: 600;
}

//for h2
.h2 {
  font-size: 48px;
  line-height: 56px;

  //down lg
  @include media-breakpoint-down(lg) {
    font-size: 30px;
    line-height: 35px;
  }
  //down md
  @include media-breakpoint-down(md) {
    font-size: 25px;
    line-height: 30px;
  }
  //down sm
  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: 20px;
  }
}

//for h3
.h3 {
  font-size: 36px;
  line-height: 40px;

  //down lg
  @include media-breakpoint-down(lg) {
    font-size: 25px;
  }
  //down sm
  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: 25px;
  }

}

//border right
.border-right-gray {
  border-right: 1px solid;
  border-right-color: $light-gray;
}

//width fit-content
.width-fit-content {
  width: fit-content;
}

//border radius 4px
.border-radius-4 {
  border-radius: 4px;
}

//right 0
.right-0 {
  right: 0;
}

//flex revert up lg
.flex-lg-revert {
  @include media-breakpoint-up(lg) {
    flex-direction: revert !important;
  }
}

.special-offers {
  &-breadcrumbs {

    //arrow
    &__button {
      padding: 12px 13px 12px 13px;
      border-radius: 8px;

      a {
        div {
          width: 10px;
          height: 14px;
        }
      }
    }

    //circle
    &__circle {
      width: 5px;
      height: 5px;
      border-radius: 10px;
    }
  }

  &-desc {
    &__title {
      h3 {
        font-family: "Museo Sans";
      }
    }

    &__subtitle {
      p {
        font-family: "Museo Sans";
        font-size: 20px;

        //down lg
        @include media-breakpoint-down(lg) {
          font-size: 17px;
        }
      }
    }
  }

  //banners
  &-content {
    &-banner {
      //border radius for background
      border-radius: 20px;

      &__stock {
        p {
          padding: 3px 10px;
        }
      }

      &-info {
        &__old-price {
          p {
            font-size: 20px;
            line-height: 30px;
            text-decoration-line: line-through;

            @include media-breakpoint-down(sm) {
              font-size: 20px;
              line-height: 30px;
            }
          }
        }

        &__sale {
          p {
            position: relative;
            padding: 6px 10px 4px 11px;
            font-size: 14px;

            //triangle
            &:before {
              position: absolute;
              content: '';
              width: 0;
              height: 0;
              border-top: 8px solid transparent;
              border-bottom: 8px solid transparent;
              border-right: 9px solid #FF7512;
              left: -8px;
              top: 7px;
            }
          }
        }


        &__validity {
          span {
            font-size: 14px;
          }
        }

      }

      //buttons
      &-buttons {
        &__link {
          font-size: 18px;
          line-height: 28px;

          //down lg
          @include media-breakpoint-down(lg) {
            font-size: 14px;
          }

          a {
            padding: 12px 40px;

            //down md
            @include media-breakpoint-down(md) {
              padding: 10px 30px;
            }

            //down sm
            @include media-breakpoint-down(sm) {
              padding: 8px 13px;
            }
          }
        }
      }

      //for picture one
      &__picture-one {
        width: 650px;
        height: 555px;
        z-index: -1;

        //down xl
        @include media-breakpoint-down(xl) {
          width: 540px;
          height: 509px;
        }
        //down lg
        @include media-breakpoint-down(lg) {
          width: 395px;
          height: 277px;
          background-size: contain;
          right: -18%;
        }
        //down md
        @include media-breakpoint-down(md) {
          width: 325px;
          height: 235px;
        }

        //down sm
        @include media-breakpoint-down(sm) {
          width: 240px;
          height: 174px;
        }
      }

      //for picture two
      &__picture-two {
        width: 430px;
        height: 555px;
        z-index: -1;

        //down xl
        @include media-breakpoint-down(xl) {
          width: 352px;
          height: 514px;
        }
        //down lg
        @include media-breakpoint-down(lg) {
          width: 197px;
          height: 277px;
          background-size: contain;
        }

        //down md
        @include media-breakpoint-down(md) {
          width: 175px;
          height: 242px;
        }

        //down sm
        @include media-breakpoint-down(sm) {
          width: 122px;
          height: 168px;
        }
      }

      //for picture three
      &__picture-three {
        width: 729px;
        height: 462px;
        z-index: -1;

        //down xl
        @include media-breakpoint-down(xl) {
          width: 560px;
          height: 431px;
        }
        //down lg
        @include media-breakpoint-down(lg) {
          width: 320px;
          height: 275px;
          background-size: contain;
        }

        //down md
        @include media-breakpoint-down(md) {
          width: 250px;
          height: 155px;
        }

        //down sm
        @include media-breakpoint-down(sm) {
          width: 175px;
          height: 112px;
        }
      }

      //for picture four
      &__picture-four {
        width: 690px;
        height: 417px;
        z-index: -1;

        //down xxl
        @include media-breakpoint-only(xxl) {
          width: 626px;
        }
        //down xl
        @include media-breakpoint-down(xl) {
          width: 540px;
          height: 390px;

        }
        //down lg
        @include media-breakpoint-down(lg) {
          width: 320px;
          height: 208px;
          background-size: contain;
        }
        //down md
        @include media-breakpoint-down(md) {
          width: 235px;
          height: 152px;
        }

        //down sm
        @include media-breakpoint-down(sm) {
          width: 214px;
          height: 143px;
        }
      }

      //for picture five
      &__picture-five {
        width: 445px;
        height: 518px;
        z-index: -1;

        //down xl
        @include media-breakpoint-down(xl) {
          width: 415px;
          height: 490px;
        }
        //down lg
        @include media-breakpoint-down(lg) {
          width: 235px;
          height: 275px;
          background-size: contain;
        }
        //down md
        @include media-breakpoint-down(md) {
          width: 180px;
          height: 235px;
        }

        //down sm
        @include media-breakpoint-down(sm) {
          width: 114px;
          height: 157px;
        }
      }
    }

    .swiper-slide {
      height: auto !important;
    }

    //for swiper buttons
    &-button {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 14' fill='none'%3E%3Cpath d='M9 12.7998L2 7.1998L9 1.5998' stroke='%23014751' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
      transform: translate(50%);
      top: 50%;
      width: 25px;
      height: 30px;
      z-index: 10;

      &-next {
        position: absolute;
        transform: rotate(180deg);
        right: 1%;
      }

      &-prev {
        position: absolute;
        left: 0;
      }
    }

    &-button.swiper-button-disabled {
      opacity: 0.3;
    }

  }

  //gray background
  &-gray-item {
    right: 5%;
    width: 367px;
    height: 340px;
  }
}
